<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alert</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-success mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta. <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-warning mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta. <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-danger mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta. <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-info mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta. <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>

                <!-- Nuevos Colores -->
                <div class="alert alert-primary mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta.
                    <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-secondary mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta.
                    <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-light mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta.
                    <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>
                <div class="alert alert-dark mt-3">
                    <strong>Aviso</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta.
                    <a href="#" class="alert-link">Lorem, ipsum.</a>
                </div>

                <div class="alert alert-success mt-5">
                    <h2>Encabezado</h2>
                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolor suscipit eaque, sunt molestiae quis. Quaerat vitae veniam quos voluptatibus mollitia? Cumque voluptatibus numquam aperiam aut laborum modi? Sunt nulla, provident nemo aspernatur reiciendis officia quibusdam blanditiis dicta recusandae a.</p>
                </div>

                <div class="alert alert-info mt-5" id="alerta">
                   Lorem ipsum dolor sit amet.
                   <button type="button" class="close" data-dismiss="alert" aria-label="cerrar">
                       <span aria-hidden="true">&times;</span>
                   </button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>