<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BADGES</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Encabezado 1 <span class="badge badge-secondary">Etiqueta</span></h1>
                <h2>Encabezado 2 <span class="badge badge-secondary">Etiqueta</span></h2>
                <h3>Encabezado 3 <span class="badge badge-secondary">Etiqueta</span></h3>
                <h4>Encabezado 4 <span class="badge badge-secondary">Etiqueta</span></h4>
                <h5>Encabezado 5 <span class="badge badge-secondary">Etiqueta</span></h5>
                <h6>Encabezado 6 <span class="badge badge-secondary">Etiqueta</span></h6>
            </div>
            <div class="col-6">
                <h3>Encabezado 3 <span class="badge badge-secondary">Etiqueta</span></h3>
                <h3>Encabezado 2 <span class="badge badge-primary">Etiqueta</span></h3>
                <h3>Encabezado 3 <span class="badge badge-success">Etiqueta</span></h3>
                <h3>Encabezado 4 <span class="badge badge-warning">Etiqueta</span></h3>
                <h3>Encabezado 5 <span class="badge badge-danger">Etiqueta</span></h3>
                <h3>Encabezado 6 <span class="badge badge-dark">Etiqueta</span></h3>
    
            </div>
            <div class="col-12 mb-3">
                <a href="#" class="badge badge-primary">Etiqueta</a>
                <a href="#" class="badge badge-secondary">Etiqueta</a>
                <a href="#" class="badge badge-success">Etiqueta</a>
                <a href="#" class="badge badge-warning">Etiqueta</a>
                <a href="#" class="badge badge-danger">Etiqueta</a>
                <a href="#" class="badge badge-dark">Etiqueta</a>
                <a href="#" class="badge badge-light">Etiqueta</a>
            </div>
            <div class="col-12" mb-3>
                <button class="btn btn-light mb-2">
                    Notificaciones <span class="badge badge-light">10</span>
                </button>
                <button class="btn btn-primary mb-2">
                    Notificaciones <span class="badge badge-light">10</span>
                </button>
                <button class="btn btn-dark mb-2">
                    Notificaciones <span class="badge badge-success">10</span>
                </button>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>