<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buttons Checkbox and Radio</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row pt-5">
            <div class="col">
                <h2>Checkbox</h2>
                <hr>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="checkbox" name="" id=""> Checkbox 1
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="" id=""> Checkbox 2
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="" id=""> Checkbox 3
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="" id=""> Checkbox 4
                    </label>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col">
                <h2>Radio</h2>
                <hr>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="sexo" id="hombre"> Hombre
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="sexo" id="mujer"> Mujer
                    </label>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>