<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buttons</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
   <div class="container">
       <div class="row pt-3">
           <div class="col-8">
                <h2>Botones</h2>
                <hr>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-link">Link</button>
                <button class="btn btn-dark">Link</button>
                <button class="btn btn-light">Link</button>
           </div>
       </div>
       <div class="row pt-3">
           <div class="col-8">
                <hr>
                <a href="#" class="btn btn-primary">Enlace</a>
                <button class="btn btn-primary">Boton</button>
                <input  class="btn btn-primary"type="button" value="boton">
                <input  class="btn btn-primary"type="submit" value="Submit">
           </div>
       </div>
    <div class="row pt-3">
        <div class="col-8">
            <h2>Botones Outline</h2>
            <hr>
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-secondary">Secondary</button>
            <button class="btn btn-outline-success">Success</button>
            <button class="btn btn-outline-info">Info</button>
            <button class="btn btn-outline-warning">Warning</button>
            <button class="btn btn-outline-danger">Danger</button>
            <button class="btn btn-outline-link">Link</button>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-4">
            <h2>Tamaños de Botones</h2>
            <hr>
            <button class="btn btn-primary btn-lg mb-3">Boton Largo</button>
            <button class="btn btn-secondary btn-lg mb-3">Boton Largo</button>
            <button class="btn btn-primary btn-md mb-3">Boton Mediano</button>
            <button class="btn btn-secondary btn-sm mb-3">Boton Mediano</button>
            <button class="btn btn-primary btn-sm mb-3">Boton Pequeño</button>
            <button class="btn btn-secondary btn-sm mb-3">Boton Pequeño</button>
            <button class="btn btn-block btn-primary mb-3">Boton en Bloque</button>
            <button class="btn btn-block btn-secondary mb-3">Boton en Bloque</button>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-8">
            <h2>Botones Disabled</h2>
            <hr>
            <button class="btn btn-primary" disabled>Primary</button>
            <button class="btn btn-secondary" disabled>Secondary</button>
            <button class="btn btn-success" disabled>Success</button>
            <button class="btn btn-info" disabled>Info</button>
            <button class="btn btn-warning" disabled>Warning</button>
            <button class="btn btn-danger" disabled>Danger</button>
            <button class="btn btn-link" disabled>Link</button>
            <button class="btn btn-dark" disabled>Link</button>
            <button class="btn btn-light" disabled>Link</button>
        </div>
    </div>
   </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>