<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cards</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1 class="mb-3">Texto</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dicta nulla tenetur, iusto culpa quidem laboriosam sit maxime earum placeat.</p>
                    </div>
                </div>

                <!-- Clases que podemos utilizar
                	.card 					Establecemos que trabajaremos con una tarjeta (card)
                		.card-body 		Establecemos cual sera el contenedor del contenido
                            .card-title 	Establecemos el un texto como titulo de la card
                            .card-subtitle 	Establecemos un subtitulo para la card
                            .card-text 		Establecemos el texto de la card.
                            .card-link  	Establecemos un enlace como boton en la card
                		.card-img-top 		Establecemos una imagen para la card en la parte superior
                		.card-img-bottom 	Establecemos una imagen para la card en la parte inferior
                -->
                <div class="row my-5">
                    <div class="col-4">
                        <div class="card">
                            <img src="img/bg.jpg" alt="bg" class="card-img-top">
                            <div class="card-body">
                                <h2 class="card-title">Encabezado</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui suscipit architecto deleniti laudantium beatae eos vel ullam? Illum hic doloribus incidunt magnam deleniti officiis ab dolorum, obcaecati voluptatibus, quod quam</p>
                                <button class="btn btn-primary btn-block">Boton</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <img src="img/bg.jpg" alt="bg" class="card-img-top">
                            <div class="card-body">
                                <h2 class="card-title">Encabezado</h2>
                                <h4 class="card-subtitle text-muted mb-2">Subtítulo</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui suscipit architecto deleniti laudantium beatae eos vel ullam? Illum hic doloribus incidunt magnam deleniti officiis ab dolorum, obcaecati voluptatibus, quod quam</p>
                                <a href="#" class="card-link">Enlace</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                Encabezado de la Card
                            </div>
                            <div class="card-body">
                                <h3>Card Title</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus esse dolorum aperiam non vitae quae ratione eum quas quod.</p>
                                <a href="#" class="btn btn-link btn-sm">Ir al Post</a>
                            </div>
                            <div class="card-footer">
                                Pie de la Card
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ea assumenda placeat vitae explicabo? Quisquam animi nisi praesentium nostrum.</p>
                        <a href="#" class="btn btn-primary">Ir al Post</a>
                        <a href="#" class="btn btn-light">Ir al Post</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ea assumenda placeat vitae explicabo? Quisquam animi nisi praesentium nostrum.</p>
                        <a href="#" class="btn btn-success">Ir al Post</a>
                        <a href="#" class="btn btn-dark">Ir al Post</a>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card border-primary">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ea assumenda placeat vitae explicabo? Quisquam animi nisi praesentium nostrum.</p>
                        <a href="#" class="btn btn-primary">Ir al Post</a>
                        <a href="#" class="btn btn-dark">Ir al Post</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark">
                    <div class="card-body">
                        <h3 class="card-title">Encabezado</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ea assumenda placeat vitae explicabo? Quisquam animi nisi praesentium nostrum.</p>
                        <a href="#" class="btn btn-light">Ir al Post</a>
                        <a href="#" class="btn btn-dark">Ir al Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>