<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cards</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <div class="card-group">
                    <div class="card border-dark">
                        <img src="img/bg.jpg" alt="" class="card-image-top img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Encabezado</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <a href="#" class="btn btn-dark btn-block">Enlace</a>
                        </div>
                    </div>
                    <div class="card border-danger">
                        <img src="img/bg.jpg" alt="" class="card-image-top img-fluid">
                        <div class="card-body">
                            <h2 class="card-title">Encabezado</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <a href="#" class="btn btn-danger btn-block">Enlace</a>
                        </div>
                    </div>
                </div>
                <div class="card-group my-5">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h2 class="card-title">Encabezado</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <a href="#" class="btn btn-light">Enlace</a>
                        </div>
                    </div>
                    <div class="card bg-dark  text-white">
                        <div class="card-body">
                            <h2 class="card-title">Encabezado</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                            <a href="#" class="btn btn-light">Enlace</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>