<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Block</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Bloques de Código en Línea</h2>
                <p>Lorem ipsum dolor sit amet consectetur. <code>&lt;Lorem ipsum dolor sit amet.&gt;</code></p>
                <hr>
                <h2>Bloques de Código</h2>
                <p>
<pre>
<code>
&lt;h1&gt;Lorem ipsum dolor sit amet consectetur.&lt;/h1&gt;
</code>
</pre>
                </p>
                <hr>
                <h2>Teclas</h2>
                <p>Para copiar texto presiona <kbd>Ctrl + c</kbd></p>
                <p>Para pegar texto presiona <kbd>Ctrl + v</kbd></p>
            </div>      
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>