<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images Figures</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
    <style>
        /* .columna{
            background: #f2f2f2;
            border: 1px solid #424242;
        } */
    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- Images -->
        <div class="row no-gutters">
            <div class="columna col-6">
                <img class="img-fluid float-left " src="https://dummyimage.com/200x200/000/fff" alt="Lorem Pixel">
                <img class="img-fluid float-right" src="https://dummyimage.com/200x200/000/fff" alt="Lorem Pixel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- Options Design -->
        <div class="row no-gutters">
            <div class="columna col-6">
                <img class="img-fluid rounded" src="https://dummyimage.com/200x200/000/fff" alt="Lorem Pixel">
                <img class="img-fluid img-thumbnail" src="https://dummyimage.com/200x200/000/fff" alt="Lorem Pixel">
            </div>
        </div>
        <!-- Figure -->
        <div class="row no-gutters">
            <div class="columna col-6">
                <figure class="figure">
                    <img class="img-fluid rounded" src="https://dummyimage.com/400x400/000/fff" alt="Lorem Pixel">
                    <figcaption class="figure-caption">
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>