<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Masonry Cards</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>

<body>
    <div class="container">
        <div class="row  my-3">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="img/bg.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 1</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bg2.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 2</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bg3.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 3</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bg4.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 4</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bg5.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 5</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/bg6.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Título 6</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                    <div class="card bg-success text-light">
                        <div class="card-body">
                            <h3 class="card-title">Título 6</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi!</p>
                            <a href="#" class="btn btn-light btn-block btn-lg">Boton</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>