<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Media Object</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
    <style>
        /* .columna{
            background: #f2f2f2;
            border: 1px solid #424242;
        } */
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Media Object</h1>
                <hr>
                <!-- Comentarios -->
                <div class="media">
                    <img src="http://lorempixel.com/64/64" width="64" height="64" alt="" class="d-flex align-self-start mr-3">
                    <div class="media-body">
                        <h4 class="mt-0">Encabezado</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, illo rem fugiat natus at enim necessitatibus placeat veritatis consequuntur reiciendis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, illo rem fugiat natus at enim necessitatibus placeat veritatis consequuntur reiciendis.</p>
                        <hr>
                        <!-- Respuesta -->
                        <div class="media">
                            <img src="http://lorempixel.com/64/64" alt="" class="d-flex align-self-start mr-3">
                            <div class="media-body">
                                <h4>Encabezado Dos</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem nam repudiandae ullam excepturi!</p>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem nam repudiandae ullam excepturi!</p>
                                <hr>
                                <!-- Respuesta -->
                                <div class="media">
                                    <img src="http://lorempixel.com/64/64" alt="" class="d-flex align-self-start mr-3">
                                    <div class="media-body">
                                        <h4>Encabezado Tres</h4>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem
                                            nam repudiandae ullam excepturi!</p>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem
                                            nam repudiandae ullam excepturi!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comentarios Variación -->
                <!-- Respuesta -->
                <div class="media">
                    <div class="media-body">
                        <h4 class="text-right">Encabezado Tres</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem
                            nam repudiandae ullam excepturi!</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dicta recusandae sequi ab reiciendis optio quidem
                                nam repudiandae ullam excepturi!</p>
                     </div>
                        <img src="http://lorempixel.com/64/64" alt="" class="d-flex align-self-start ml-3">
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>

</html>