<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tables</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/app.css"> -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Table Dark -->
                <table class="table table-dark">
                    <thead>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>

                <!-- Table Striped Bordered -->
                <table class="table table-striped table-bordered">
                    <thead class="">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>

                <!-- Table Hover -->
                <table class="table  table-bordered table-hover">
                    <thead class="">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>

                <!-- Table Small -->
                <table class="table  table-bordered table-hover table-sm">
                    <thead class="">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>

                <!-- Table Responsive -->
                <table class="table  table-dark    table-hover">
                    <thead class="thead-light">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr>
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>
                <!-- Table colors Light-->
                <table class="table   table-hover">
                    <thead class="">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr class="table-danger">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-success">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-info">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-active">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>
                <!-- Table colors Dark-->
                <table class="table table-dark  table-hover">
                    <thead class="">
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>País</th>
                    </thead>
                    <tr class="bg-primary">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="bg-success">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="bg-warning">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="bg-danger">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="bg-info">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-success">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-secondary">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-dark">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                    <tr class="table-light">
                        <td>Arnold</td>
                        <td>20</td>
                        <td>Colombia</td>
                    </tr>
                </table>
                <!-- List Colors -->

                <!-- .table-active -->
                <!-- .table-success -->
                <!-- .table-danger -->
                <!-- .table-warning -->
                <!-- .table-info -->


                <!-- .table-primary -->
                <!-- .table-secondary -->
                <!-- .table-light -->
                <!-- .table-dark -->

                <!-- .bg-secondary -->
                <!-- .bg-dark -->
                <!-- .bg-light -->

            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>
