<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipografía y Textos</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <style>
        .columna{
            background: #2191fb;
            color: #fff;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
       <div class="row">
           <div class="col-12">
               Encabezados  
                <h1>Encabezado H1 <small class="text-muted">Texto Secundario</small></h1>
                <h2>Encabezado H2 <small class="text-muted">Texto Secundario</small></h2>
                <h3>Encabezado H3 <small class="text-muted">Texto Secundario</small></h3>
                <h4>Encabezado H4 <small class="text-muted">Texto Secundario</small></h4>
                <h5>Encabezado H5 <small class="text-muted">Texto Secundario</small></h5>
                <h6>Encabezado H6 <small class="text-muted">Texto Secundario</small></h6>
           </div>
           <div class="col-12">
               <hr>
           </div>
           <!-- Parrafós con Estilo de Título -->
           <div class="col-12">
               <p class="h1">Parráfo con estilo H1</p>
               <p class="h2">Parráfo con estilo H2</p>
               <p class="h3">Parráfo con estilo H3</p>
               <p class="h4">Parráfo con estilo H4</p>
               <p class="h5">Parráfo con estilo H5</p>
               <p class="h6">Parráfo con estilo H6</p>
           </div>
           <!-- Display -->
           <div class="col-12">
                <hr>
                <h1 class="display-1">Encabezado Display 1</h1>
                <h1 class="display-2">Encabezado Display 2</h1>
                <h1 class="display-3">Encabezado Display 3</h1>
                <h1 class="display-4">Encabezado Display 4</h1>
            </div>
            <!-- Párrafos -->
            <div class="col-12">
                <hr>
                <!-- Parráfo importante -->
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quo distinctio eos minima impedit dicta velit cupiditate dolore odio earum.  </p>
                <!-- Parráfo Normal -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque corporis quas, exercitationem voluptates natus aspernatur sint non libero ipsam.</p>
            </div>
       </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>