<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipografía y Textos</title>
    <!-- Boostrapv4 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <p>Lorem, <mark>ipsum dolor </mark> sit amet consectetur adipisicing elit. Quisquam!</p>
            <p><del><Lorem></Lorem>, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</del></p>
            <p><s>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</s></p>
            <p><ins> ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</ins></p>
            <p><u>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</u></p>
            <p><small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</small></p>
            <p><strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</strong></p>
            <p><em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</b></em>
            <p><i>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam!</i></p>
          </div>
      </div>
      <div class="col-4">
            <hr>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est quis modi eligendi eius libero quisquam sunt sit reiciendis? Vero officiis, atque reprehenderit delectus fugit ad eaque aut aperiam necessitatibus quos quas dolorum natus dolor. Dolorum dolorem ad ab itaque!</p>
            <div class="card">
                <div class="card-block">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum blanditiis architecto corporis non quae iusto harum cum! Vel quo optio est illo deserunt amet quidem, nihil harum, qui, fugiat voluptatibus.
                </div>
            </div>
      </div>
      <div class="w-100"></div>
      <div class="col-4">
        <hr>
        <p class="text-left">texto alineado a la izquierda</p>
        <p class="text-center">texto alineado al centro</p>
        <p class="text-right">texto alineado a la derecha</p>
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-md-8">
        <hr>
        <p class="text-left text-sm-right">Texto alineado a la derecha en dispositivos móviles</p>
        <p class="text-left text-md-right">Texto alineado a la derecha en dispositivos móviles</p>
        <p class="text-left text-lg-right">Texto alineado a la derecha en dispositivos móviles</p>
        <p class="text-left text-xl-right">Texto alineado a la derecha en dispositivos móviles</p>
      </div>
      <div class="w-100"></div>
      <div class="col-4">
          <p class="text-lowercase font-weight-bold">minúsculas - Lorem ipsum dolor sit.</p>
          <p class="text-uppercase font-weight-normal">MAYÚSCULAS - Lorem ipsum dolor sit.</p>
          <p class="text-capitalize font-italic">letras capitales - Lorem ipsum dolor sit.</p>
      </div>
      <div class="w-100"></div>
      <div class="col-12">
          <blockquote class="blockquote">
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde similique libero vel nisi accusamus mollitia laboriosam temporibus earum consequuntur at.</p>
              <footer class="blockquote-footer">Hola Muchachos</footer>
          </blockquote>
          <blockquote class="blockquote blockquote-reverse">
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde similique libero vel nisi accusamus mollitia laboriosam temporibus earum consequuntur at.</p>
              <footer class="blockquote-footer">Hola Muchachos</footer>
          </blockquote>
      </div>
    </div>

    <!-- jQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- Popper.js -->
    <script src="../js/popper.js"></script>
    <!-- Boostrapv4 JavaScript -->
    <script src="../js/bootstrap.js"></script>
</body>
</html>