/***
@name: Arnold Restrepo Hernández Desarrollador Fornt-end
@package: app.css
**/


/* 1.Body */

body {
    background: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}


/* 2.Header */

header {
    margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #FFFFFF;
}


/* 3.Logotipo */

header .logo h2,
header .logo span,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

header .logo h2 {
    font-weight: 700;
}

header .logo .icono {
    color: #BFBFBF;
}

header .logo p {
    color: #777777;
}


/* 4.Nav */

header .menu {
    padding: 0;
}

header .menu a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 30px;
}

header .menu a div span {
    font-weight: 700;
}


/* 4.1.Colors */

header .menu .color-1 {
    background: #3DA5E2;
}

header .menu .color-2 {
    background: #005385;
}

header .menu .color-3 {
    background: #003855;
}

header .menu .color-1:hover {
    background: #1BA0EF;
}

header .menu .color-2:hover {
    background: #00426A;
}

header .menu .color-3:hover {
    background: #002E44;
}


/* 5.Slider */

.slider {
    margin-bottom: 40px;
}

.slider .col {
    padding: 0;
}


/* 6.Portafolio */

.portafolio {
    background: #FFFFFF;
    border-top: 5px solid #3DA5E2;
    padding: 0px 20px;
    margin-bottom: 40px;
}

.portafolio h2 {
    text-align: center;
    padding: 40px 0;
    color: #3DA5E2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    display: inline-block;
    background: #3DA5E2;
}

.portafolio .galeria .contenedor-imagen a img {
    transition: all 100ms cubic-bezier(.55, .09, .68, .53);
}

.portafolio .galeria .contenedor-imagen a:hover img {
    opacity: .3;
}

.portafolio .modal-dialog {
    width: 100%;
    height: 100%;
    max-height: 100%;
}


/* 7.Acerca de */

.acerca {
    padding: 30px;
    margin-bottom: 40px;
}

.acerca .foto {
    text-align: center;
}

.acerca .foto img {
    margin-bottom: 40px;
}

.acerca .foto .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}

.acerca .info .titulo {
    color: #005385;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.acerca .info .resumen {
    letter-spacing: 1px;
}

.acerca .info .label {
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca .info .progress {
    height: 25px;
    line-height: 25px;
    background: #005385;
    border-radius: 0;
    margin-bottom: 15px;
}

.acerca .info .progress-bar {
    height: 25px;
    background: #3DA5E3;
    line-height: 25px;
    padding-left: 20px;
}


/* 8.Contacto */

.contacto {
    padding: 40px;
    border-top: 1px solid #CBCBCB;
    margin-bottom: 40px;
}

.contacto .titulo {
    color: #003855;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .form-group {
    margin-bottom: 0;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.formulario textarea {
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.formulario .boton {
    background: #3DA5E2;
    border: none;
    padding: 7px 30px;
    color: #FFFFFF;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.formulario .boton:hover {
    opacity: .9;
}