/** 
* Red Social
* @package
* @author 
*/


/*========== Settings ==========*/

:root {
    /* Colors */
    --bgBody: #e9ebee;
    --bgPrimary: #1176b6;
    --bgWhite: #FFFFFF;
    --bgWhiteOpacity: rgba(255, 255, 255, .8);
    --bgLightGray: #f2f2f2;
    --bgLightBlue: #099efc;
    --ColorAncle: #1176b6;
    --ColorGray: #6d6d6d6d;
    --ColorLightGray: #c7c8ca;
    --ColorMediumGray: #888888;
    --ColorDarkGray: #565656;
    --ColorBlack: #3d3c3c;
    /* Tipography */
    --FontTitle: 'Open Sans', sans-serif;
    --FontBody: 'Roboto', sans-serif;
    --transition: all 200ms ease;
}


/*========== Tools ==========*/


/*========== Generic ==========*/

body {
    background: var(--bgBody);
    font-family: var(--FontBody);
}

a {
    color: var(--ColorAncle);
}

a:hover {
    text-decoration: underline;
}


/*========== Elements ==========*/


/*========== Objects ==========*/


/*========== Components ==========*/


/* Header */

.Header {
    background-color: var(--bgPrimary);
    padding: 10px 0;
}


/* Logo */

.Logo {
    padding: 0;
}

.Logo__img {
    height: 22px;
}


/* Buscar */

.Buscar {}

.Buscar__form {}

.Buscar__form__input__text {
    width: 100%;
    background-color: var(--bgWhite);
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px 0 0 3px;
}

.Buscar__form__submit {
    width: 100%;
    background: var(--bgWhite);
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: var(--ColorGray);
    transition: var(--transition);
}

.Buscar__form__submit:hover {
    background: var(--bgLightBlue);
    color: var(--bgWhite);
}


/* Menu */

.Menu {
    padding: 0;
}

.Menu__link {
    color: var(--bgWhiteOpacity);
    text-decoration: none;
}

.Menu__link:hover {
    color: var(--bgWhite);
}

.Menu__thumb {
    border-radius: 100px;
}


/* Main */

.Main {
    padding-top: 20px;
}


/* SidebarLeft */

.SidebarLeft {
    padding-bottom: 20px;
    padding-left: 0;
}

.SidebarLeftNav {
    border-bottom: 1px solid var(--ColorLightGray);
    padding-bottom: 20px;
}

.SidebarLeftNav__link {
    display: block;
    padding: 3px;
    color: var(--ColorBlack);
}

.SidebarLeftNav__link:hover {
    background: var(--bgLightGray);
    text-decoration: none;
}

.SidebarLeftNav__icon {
    margin-right: 10px;
}


/* Main Content */

.Post {
    margin-bottom: 40px;
}

.Post__thumb {
    margin-right: 15px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

.FormPost__textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 15px;
    border: none;
    color: var(--ColorDarkGray);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .35);
}

.ContainerButtonsPost {
    padding: 20px 0px;
    border-bottom: 1px solid var(--ColorLightGray);
}

.MediaButtons__link {
    color: var(--ColorMediumGray);
    font-size: 20px;
    margin-right: 10px;
}
.ContainerPostSubmit__btn {
    border: 1px solid #00609c;
    padding: 5px 30px;
    background: linear-gradient(to bottom, #1a87cd 0%, var(--ColorAncle) 100%);
    color: var(--bgWhite);
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition);
}
.ContainerPostSubmit__btn:hover{
    background: linear-gradient(to top, #1a87cd 0%, var(--ColorAncle) 100%);
    
}


/*========== Utilities ==========*/