/** 
* Red Social
* @package
* @author 
*/


/*========== Settings ==========*/

:root {
    /* Colors */
    --bgBody: #e9ebee;
    --bgPrimary: #1176b6;
    --bgWhite: #FFFFFF;
    --bgWhiteOpacity: rgba(255, 255, 255, .8);
    --bgLightGray: #f2f2f2;
    --bgLightBlue: #099efc;
    --ColorAncle: #1176b6;
    --ColorGray: #6d6d6d6d;
    --ColorLightGray: #c7c8ca;
    --ColorMediumGray: #888888;
    --ColorDarkGray: #565656;
    --ColorBlack: #3d3c3c;
    /* Tipography */
    --FontTitle: 'Open Sans', sans-serif;
    --FontBody: 'Roboto', sans-serif;
    --transition: all 200ms ease;
}


/*========== Tools ==========*/


/*========== Generic ==========*/

body {
    background: var(--bgBody);
    font-family: var(--FontBody);
}

a {
    color: var(--ColorAncle);
}

a:hover {
    text-decoration: underline;
}


/*========== Elements ==========*/


/*========== Objects ==========*/


/*========== Components ==========*/


/* Header */

.Header {
    background-color: var(--bgPrimary);
    padding: 10px 0;
}


/* Logo */

.Logo {
    padding: 0;
}

.Logo__img {
    height: 22px;
}


/* Buscar */

.Buscar {}

.Buscar__form {}

.Buscar__form__input__text {
    width: 100%;
    background-color: var(--bgWhite);
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px 0 0 3px;
}

.Buscar__form__submit {
    width: 100%;
    background: var(--bgWhite);
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: var(--ColorGray);
    transition: var(--transition);
}

.Buscar__form__submit:hover {
    background: var(--bgLightBlue);
    color: var(--bgWhite);
}


/* Menu */

.Menu {
    padding: 0;
}

.Menu__link {
    color: var(--bgWhiteOpacity);
    text-decoration: none;
}

.Menu__link:hover {
    color: var(--bgWhite);
}

.Menu__thumb {
    border-radius: 100px;
}


/* Main */

.Main {
    padding-top: 20px;
}


/* SidebarLeft */

.SidebarLeft {
    padding-bottom: 20px;
    padding-left: 0;
}

.SidebarLeftNav {
    border-bottom: 1px solid var(--ColorLightGray);
    padding-bottom: 20px;
}

.SidebarLeftNav__link {
    display: block;
    padding: 3px;
    color: var(--ColorBlack);
}

.SidebarLeftNav__link:hover {
    background: var(--bgLightGray);
    text-decoration: none;
}

.SidebarLeftNav__icon {
    margin-right: 10px;
}


/* Main Content */

/* Post Form */

.Post {
    margin-bottom: 40px;
}

.Post__thumb {
    margin-right: 15px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
}

.FormPost__textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 15px;
    border: none;
    color: var(--ColorDarkGray);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .35);
}

.ContainerButtonsPost {
    padding: 20px 0px;
    border-bottom: 1px solid var(--ColorLightGray);
}

.MediaButtons__link {
    color: var(--ColorMediumGray);
    font-size: 20px;
    margin-right: 10px;
}
.ContainerPostSubmit__btn {
    border: 1px solid #00609c;
    padding: 5px 30px;
    background: linear-gradient(to bottom, #1a87cd 0%, var(--ColorAncle) 100%);
    color: var(--bgWhite);
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition);
}
.ContainerPostSubmit__btn:hover{
    background: linear-gradient(to top, #1a87cd 0%, var(--ColorAncle) 100%);   
}

/* News Comments */
.New{margin-bottom: 20px;}
.New__link__thumb{
    margin-right: 20px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.New__thumb{width: 100%;}
.New__name{
    line-height: 16px;
    display: inline-block;
    margin-bottom: 10px;
}
.New__text{
    background: var(--bgWhite);
    color: var(--ColorBlack);
    padding: 15px;
    margin-bottom: 15px;
}
.New__image__container{
    background: var(--bgWhite);
    padding: 15px;
    margin-bottom: 15px;
}
.New__image{
    width: 100%;
}
.New__buttons{margin-bottom: 20px;}
.New__button{
    background: var(--ColorAncle);
    color: var(--bgWhite);
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
    border: none;
}
.New__button:hover{background: #0d659d;}
.New__like{
    margin-bottom: 0;
    color: var(--ColorAncle);
}

/* Comments */
.Comment{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--ColorLightGray);
}
.Comment__link{
    margin-right: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
}
.Comment__thumb{
    width: 100%;
}
.Comment__form__textarea{
    width: 100%;
    color: var(--ColorDarkGray);
    background: var(--bgWhite);
    border: 1px solid var(--ColorLightGray);
    padding: 8px;
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    font-size: 14px;
}
.Comment__text{
    font-size: 14px;
    margin-bottom: 10px;
}
.Comment__like{
    font-size: 14px;
}

/* Sidebar Right */
.Promo{}
.Promo__title{
    font-size: 16px;
    text-align: center;
}
.Promo__ads{}
.Promo__link{
    margin-bottom: 15px;
    display: inline-block;
}
.Promo__image{width: 100%;}


/* Footer */
.Footer{font-size: 14px;}
.Footer__links{
    color: var(--ColorAncle);
    margin-right: 10px;
}
.Footer__copyright{
    color: var(--ColorMediumGray);
    margin-top: 10px;

}
/*========== MediaQueries ==========*/
@media screen and (max-width: 767px){
    /* Mobile Menu */
    .MenuMobile{
        display: block;
        border: 1px solid #00609c;
        padding: 5px 10px;
        font-size: .8rem;
        background:  linear-gradient(to bottom, #1a87cd 0%, var(--ColorAncle) 100%);
        color: var(--bgWhite);
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .MenuMobile:hover{
        text-decoration: none;
        color: var(--bgWhite);
        background: linear-gradient(to top, #1a87cd 0%, var(--ColorAncle) 100%);
    }
    /* Mobile Menu */

    /* Background Ancle */
    .BackgroundAncle{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: red;
        z-index: 100;
        cursor: pointer;
        background: rgba(0, 0, 0, .50);
        display: none;

    }
    .BackgroundAncle.active{display: block;}
    /* /Background Ancle */

    /* SidebarLeft */
    .SidebarLeft{
        width: 85%;
        height: 100vh;
        padding: 0;
        margin: 0;
        position: fixed;
        background: rgba(0, 0, 0, .85);
        top: 0;
        left: 0;
        z-index: 120;
        transform: translateX(-100%);
        transition: var(--transition);
        overflow: scroll;

    }
    .SidebarLeft.active{transform: translateX(0%)}
    /* /SidebarLeft */

    /* SidebarLeftNav */
    .SidebarLeftNav{border-bottom: none;}
    .SidebarLeftNav__link{
        padding: 20px;
        color: var(--bgWhite);
    }
    .SidebarLeftNav__link:hover{
        color: var(--ColorDarkGray);
        background: var(--bgWhite);
    }
}


@media  screen and (max-width: 575px){
    /* Menu */
    .Menu{padding: 0 15px 15px 15px;}
    /* News */
    .New__link__thumb, .Post__link{
        width: 35px;
        height: 35px;
    }
}

@media  screen and (max-width: 400px){
    .Post__link{display: none;}
}


/*========== Utilities ==========*/